* {
    box-sizing: border-box;
    font-family: 'Helvetica','sans-serif';
}

#form1 {
    z-index: 1;
    position: absolute;
    margin: -60px -50px 0px 0px;
    padding-left: 406px;
    width: 100vw;
}

.top-nav {
    padding: 0 20px;
    margin: 20px;
    font-size: 15px;
    color: #5D6873;
    font-family: 'Helvetica','sans-serif';
    z-index: 2;
}

.top-nav > * {display: inline-flex}

nav {
    padding-left: 980px;
}

ul {
    list-style-type: none;
    text-align: right;
    }

ul li {
    display: inline-block;
    padding-left: 15px;
    text-align: right;
}


  
.main-textimg {
    display: inline-flex;
   
}

.main-text {
    color: black;
    font-size: 50px;
    font-family: 'Helvetica','sans-serif';
    padding-left: 120px;
    padding-top: 190px;
    margin: 0 auto;
    display: inline-block;
}

.main-text p {
    margin: 25px 0px;
}

.profile {
    height:200px;
    margin: 0 auto;
    padding-top:150px;
    padding-left:220px;
    z-index: 3;
}

#profile-img {
    width:253px;
    height:270px;
    border-radius:50%;
    display: inline-block;
}

.logos {
    padding-left: 110px;
    padding-top:250px;
    display: inline-block;
}
.logos div {
    display:inline-flex;
    padding-left:10px;
}

.logos img {
    width:25px; 
}

.arrow-down {
    display: inline-block;
    width: 10%;
    margin: 0 auto;
    padding-left: 450px;
    animation-name: godown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.project1 {
    width:90vw;
    height:588px;
    background-image: linear-gradient(#FDFDFD, #EFEFEF);
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.allmockups-sf {
    display: flex;
    justify-content: left;
    padding-left: 80px;
}

.mockup1-socialfree {
    display: inline-block;
    margin:0 auto;
    padding: 0px 20px 20px 20px;
    align-self: center;
    /* padding-top: 120px;
    padding-right:90px; */
    /* float: left; */
}

#mockup1-sf-img {
   width: 180px;
}

.mockup2-socialfree {
    display: inline-block;
    margin: 0 auto;
    padding: 0px 20px 10px 20px;
    align-self: center;
}

#mockup2-sf-img {
    width: 220px;
}

.mockup3-socialfree {
    display: inline-block;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
align-self: center;
    /* padding-top: 120px;
    padding-right:90px; */
    /* float: left; */
}

#mockup3-sf-img {
 width: 180px; 
}

.textproject1 {
    text-align:center;
    display: inline-block;
    padding: 140px 140px 50px 40px;
    float: right;
}

button {
    background-color: white;
    border: none;
    font-size: 16px;
    height: 40px;
    width: 120px;
    font-weight: lighter;
    color:#5D6873;
    border-radius: 28px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #5D6873;
    color: white;
}

/* #buttonview1 {
    width: 120px;
    padding-top: 50px;
} */

.titleproject {
    font-size: 22px;
}

.subtitleproject {
    font-size: 24px;
    font-weight: bold;
}

.bodyproject {
    font-size: 18px;
    width:220px;
    font-weight: lighter;
}

.project2 {
    width:90vw;
    height:588px;
    background-image: linear-gradient(#FDFDFD, #EFEFEF);
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}

.textproject2 {
    text-align:center;
    display: inline-block;
    align-self: left;
    padding: 110px 0px 50px 150px;
    order: -1;
    float: left;
}

/* #buttonview2 {
    width:120px;
    padding-top:60px; */

.mockup-freshlocal {
    display: inline-block;
    padding-top: 120px;
    padding-right:60px;
    order:1;
}

#mockup-freshlocal-img {
    width:700px;
    display: inline-block;
}

#form2 {
    z-index: 1;
    position: absolute;
    width:100vw;
    padding: 225px 0px 0px 840px;
}

.About {
    width:950px;
    margin: auto;
    padding-left:120px;
    display:inline-block;
}

.titleabout {
    font-size:55px;
    font-weight:normal;
    padding-top:80px;
}

.subtitleabout {
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 10px;
}



.bodyabout p {
padding: 10px 0x;
font-size: 18px;
width: 800px;
font-weight: lighter;
}

.contact {
    padding-top: 30px;
}

.contact h2 {
    padding-top: 70px;
    font-size: 20px;
    font-weight: normal;
}

.contact p {
    font-weight: lighter;
}

footer {
    height:100px;
}











@media (max-width: 414px) {
 
    #form1 {
    display: none;
    }
    
    .top-nav {
        padding: 0 10px;
        margin: 10px;
        font-size: 11px;
        color: #5D6873;
        font-family: 'Helvetica','sans-serif';
        display: flex;
    }

    
    nav {
        padding-left: 80px;
    }
    
    ul {
        display: flex;
        list-style-type: none;
        text-align: right;
        }
    
    ul li {
        display: inline-block;
        padding-left: 15px;
        text-align: left;
    }
    
      
    .main-textimg {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: left;
       
    }
    
    .main-text {
        color: black;
        font-size: 28px;
        font-weight: lighter;
        font-family: 'Helvetica','sans-serif';
        margin: 0;
        padding: 30px 0px 0px 40px;
        text-align: center;
        display: inline-block;
    }

    .main-text p {
        padding-top: 10px;
    }
    
    
    .profile {
        padding:30px 0px 0px 90px;
        margin: 0;
    }
    
    #profile-img {
        width:183px;
        height:197px;
        border-radius:50%;
        display: inline-block;
    }
    
    .logos {
        padding-left: 127px;
        padding-top:100px;
        display: inline-block;
    }

    .logos div {
        display:inline-flex;
        padding-left:10px;
    }
    
    .logos img {
        width:25px; 
    }

    .arrow-down {
        display: inline-block;
        width: 50%;
        margin: 0 auto;
        padding-left: 170px;
        padding-top: 70px;
        animation-name: godown;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    
    .project1 {
        width:100vw;
        height:1850px;
        background-image: linear-gradient(#FDFDFD, #EFEFEF);
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
    
    .allmockups-sf {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        width: 100vw;
        margin: 0 auto;
        padding-right: 190px;
    }
    
    .mockup1-socialfree {
        display: inline-block;
        margin:0 auto;
        padding: 0px 20px 40px 20px;
        align-self: center;
        /* padding-top: 120px;
        padding-right:90px; */
        /* float: left; */
    }
    
    #mockup1-sf-img {
       width: 200px;
    }
    
    .mockup2-socialfree {
        display: inline-block;
        margin: 0 auto;
        padding: 0px 20px 40px 20px;
        align-self: center;
    }
    
    #mockup2-sf-img {
        width: 200px;
    }
    
    .mockup3-socialfree {
        display: inline-block;
        margin: 0 auto;
        padding: 0px 20px 120px 20px;
    align-self: center;
        /* padding-top: 120px;
        padding-right:90px; */
        /* float: left; */
    }
    
    #mockup3-sf-img {
     width: 200px; 
    }
    
    .textproject1 {
        text-align:center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 30px 0px 0px;
        width: 100vw;
        order:-1;
    }
    
    button {
        background-color: white;
        border: none;
        font-size: 16px;
        height: 40px;
        width: 120px;
        font-weight: lighter;
        color:#5D6873;
        border-radius: 28px;
        text-align: center;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #5D6873;
        color: white;
    }
    
    /* #buttonview1 {
        width: 120px;
        padding-top: 50px;
    } */
    
    .titleproject {
        font-size: 20px;
    }
    
    .subtitleproject {
        font-size: 22px;
        font-weight: bold;
    }
    
    .bodyproject {
        font-size: 15px;
        width:170px;
        font-weight: lighter;
    }
    
    .project2 {
        width:100vw;
        height:850px;
        background-image: linear-gradient(#FDFDFD, #EFEFEF);
        margin:70px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .textproject2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px 0px 0px;
        width: 100vw;
        order:-1; 

    }
    
    /* #buttonview2 {
        width:120px;
        padding-top:60px; */
    
    .mockup-freshlocal {
        display: inline-block;
        padding-top: 120px;
        padding-right: 0px;
        padding-left: 25px;
        order:1;
    }
    
    #mockup-freshlocal-img {
        width:370px;
        display: inline-block;
        align-self: center;
    }
    
    #form2 {
    display:none;
    }
    
    .About {
        width:100vw;
        margin: auto;
        padding-left:20px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .titleabout {
        font-size:25px;
        font-weight: medium;
        padding-top:20px;
    }
    
    .subtitleabout {
        font-size: 18px;
        font-weight: normal;
        padding-bottom: 10px;
    }
    
    
    .bodyabout p {
    padding: 10px 0x;
    font-size: 15px;
    width: 320px;
    font-weight: lighter;
    }
    
    .contact {
        padding-top: 30px;
    }
    
    .contact h2 {
        padding-top: 30px;
        font-size: 18px;
        font-weight: normal;
    }
    
    .contact p {
        font-weight: lighter;
    }
    
    footer {
        height:100px;
    }

}

@-webkit-keyframes godown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes godown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }

}